<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.touchswipe/1.6.19/jquery.touchSwipe.min.js"></script>
  <style>
    .gallery {
      width: 100%;
      overflow: hidden;
    }
    .gallery img {
      display: block;
      width: 100%;
      height: auto;
    }
  </style>

  
  <div id="fundo">
     
    <div id="menu"></div>

    <div id="logo"></div>

    <div id="corpo" class="esp" style="--ion-background-color: none !important;">
      <!-- <img src="../assets/images/1.png" alt="Descrição da Imagem"> -->
      <ion-content>
        <ion-list>
          <ion-item *ngFor="let item of items; let index of indexs;">
            
            <ion-img src='{{ index }}' ></ion-img>
            <!--<ion-avatar slot="start">
              <img [src]="'https://picsum.photos/80/80?random=' + index" alt="avatar" />
            </ion-avatar> -->
            <ion-label>{{ item.slice(0, item.length - 4).substring(28, item.length - 4) }}<ion-button expand="round" class="espbt" color="primary" (click)="tack(item)">+</ion-button></ion-label>
            
          </ion-item>
        </ion-list>
        <ion-infinite-scroll>
          <ion-infinite-scroll-content loadingText="Please wait..." loadingSpinner="bubbles"></ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </ion-content>
    
    
    </div>

    <div id="rodape"><table style="width: 100%; margin-left: auto; margin-right: auto;" border="0" cellspacing="0" cellpadding="0">
      <tbody>
      <tr>
        
          <td style="width: 20%; text-align: center;"><a href="carrinho"><img src="../assets/images/cesto.png" href="carrinho" alt="" width="80" height="80"></a></td>
        
           
          <td style="width: 20%; text-align: center;"><a href="contactos"> <img src="../assets/images/contacto.png" alt="" width="80" height="80"></a></td>
        
        
          <td style="width: 20%; text-align: center;"><a href="produtos"><img src="../assets/images/home.png" href="home" alt="" width="80" height="80"></a></td>
        
        
          <td style="width: 20%; text-align: center;"><a href="informate"><img src="../assets/images/info.png" alt="" width="80" height="80"></a></td>
      
        
          <td style="width: 20%; text-align: center;"><a href="conta"><img src="../assets/images/user.png" alt="" width="80" height="80"></a></td>
        
        </tr>
      <tr>
      
          <td style="width: 20%; text-align: center;">cesto</td>
      
    
          <td style="width: 20%; text-align: center;">contacto</td>
       
    
          <td style="width: 20%; text-align: center;">In&iacute;cio</td>
       
      
          <td style="width: 20%; text-align: center;">Info</td>
      
     
          <td style="width: 20%; text-align: center;">Perfil</td>
     
        </tr>
      </tbody>
    </table>
  </div>

</div>


<script>
    $(document).ready(function(){
      $(".gallery").swipe({
        swipe: function(event, direction, distance, duration, fingerCount, fingerData) {
          if (direction == 'left') {
            $(this).carousel('next');
          }
          else if (direction == 'right') {
            $(this).carousel('prev');
          }
        },
        allowPageScroll: "vertical"
      });
    });
  </script>